@import '../Helpers/_variable.scss';

.disappear {
   opacity: 0;
   position: absolute;
   z-index: -1;
   display: none;
}

.disable-hover {
   &:hover {
      background: white !important;
   }
}

.font-poppin {
   font-family: $-poppin;
}

.w-90 {
   width: 90%;
   margin: 0 auto;
}

.box-shadow {
   box-shadow: $-bs-3;
}

.form-label.required:after {
   content: '*';
   color: red;
   margin-left: 5px;
}
.pointer {
   cursor: pointer;
}

.active-link {
   border-bottom: 2px solid $-blue-5;
}
